@using Nizami.Infrastructure
@model Product


<div class="col mb-5">
	<div class="card h-100">
		<!-- Product image-->
		<img class="card-img-top" src="@Model.Image" alt="..." />
		<!-- Product details-->
		<div class="card-body p-4">
			<div class="text-center">
				<h5 class="fw-bolder">@Model.Name</h5>
				<p>@Model.Description</p>
				<p>@Model.Price.ToString("c")</p>
			</div>
			<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
				<!--CartMod3-->
				<form id="@Model.ProductID" asp-action="AddToCart"
					  asp-controller="Cart" method="post">
					<input type="hidden" asp-for="ProductID" />
					<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.Path.ToString()" />
					<div class="text-center">
						<button type="submit" class="btn btn-outline-dark mt-auto">
							Add To Cart
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
