@model ProductsListViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section Img{
	<a class="navbar-brand" id="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index">
       <img src="/logo/png/High Resolution Logo.png" alt="" width="120" height="100" class="d-inline-block align-text-top">
    </a>
}

@section Header{
    <!--Header and buttons-->
	<li class="nav-item">
		<!--AccountMod4: asp-route-returnurl-->
		<a class="btn" asp-controller="Account" asp-action="UserSignUp" asp-route-returnurl="@ViewContext.HttpContext.Request.UserSignUp()">
			Sign Up
		</a>
	</li>

	<li class="nav-item">
		<!--AccountMod5: asp-route-returnurl-->
		<a class="btn" asp-controller="Account" asp-action="UserLogin" asp-route-returnurl="@ViewContext.HttpContext.Request.UserLogin()">
			Log In
		</a>
	</li>
		 
}

@section Products{
	<div class="row row-cols-1 row-cols-md-3 g-4">
		
		@foreach (var p in Model.Products)
		{
			@Html.Partial("ProductSummary/Default", p)								
		}
	</div>
	<div class="row" id="pages">
		<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
		 page-class="btn" page-class-normal="btn-default"
		 page-class-selected="current-page" page-url-category="@Model.CurrentCategory" page-url-sort="@Model.SortPrice" 
		 class="btn-group float-right" id="pageNumber">
		</div>
	</div>
}

@section Categories{
	@await Component.InvokeAsync("NavigationMenu")
}

@section SortPrice{
	@{

		if (Model.SortPrice == 1)
		{
			<!--HomeMod2/HomeMode3-->
			<form asp-action="Index" asp-controller="Home" asp-route-page="1" asp-route-sort="0">
					<button type="submit" class="btn btn-info btn-sm float-right">
						Unsort by Price
					</button>
			</form>
		}
		else{
			<!--HomeMode3-->
			<form asp-action="Index" asp-controller="Home" asp-route-sort="1">
					<button type="submit" class="btn btn-info btn-sm float-right">
						Sort by Price
					</button>
			</form>
		}

	}
}

@section Footer{
		<p class="col-md-4 mb-0 text-muted">© 2022 Nizami, Inc</p>
		<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<img src="/logo/png/logo-no-background.png" alt="" width="40" height="32" class="d-inline-block align-text-top">
		</a>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item">
				<!--AccountMod1: asp-route-returnurl-->
				<a class="nav-link px-2 text-muted" asp-controller="Account" asp-action="AdminLogin" asp-route-returnurl="@ViewContext.HttpContext.Request.AdminLogin()">
					Admin Login
				</a>
			</li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
		</ul>
}