
@{
    ViewData["Title"] = "Home Page";
}

<!--When adding a new css file, it must be enclosed on a section tag and then referenced in the layout.cshtml by using RenderSection()-->
@section Head{
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
}

@section Header{
    <!--Header and buttons-->
	<div class="container-fluid">
		<a class="navbar navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
			<img src="/logo/png/High Resolution Logo.png" alt="" width="120" height="100" class="d-inline-block align-text-top">
		</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</button>
			<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#login">Log In</button>
		</div>
		<form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>
			
	<!--Sign Up Modal Form-->
	<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signupLabel" aria-hidden="true">
				
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
							
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							
					<div class="signupForm">
						<h1 class="text-center">Sign Up</h1>
								
						<form>
									
							<div class="mb-3 mt-4">
								<label for="usernameSignup" class="form-label">Username</label>
								<input type="text" class="form-control" id="usernameSignup" aria-describedby="usernameHelp">
							</div>
									
							<div class="mb-3 mt-4">
								<label for="email" class="form-label">Email address</label>
								<input type="email" class="form-control" id="email" aria-describedby="emailHelp">
							</div>
									
							<div class="mb-3">
								<label for="passwordSignup" class="form-label">Password</label>
								<input type="password" class="form-control" id="passwordSignup">
							</div>
									
							<div class="mb-3">
								<label for="passwordConfirm" class="form-label">Confirm Password</label>
								<input type="password" class="form-control" id="passwordConfirm">
							</div>
									
							<button type="submit" class="btn btn-dark">Sign Up</button>        
						</form>  
					</div>
				</div>     
			</div>  
		</div>
	</div> 
			
	<!--Login Modal Form-->
	<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
				
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
							
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							
					<div class="loginForm">
						<h1 class="text-center">Log In</h1>
								
						<form>
									
							<div class="mb-3 mt-4">
								<label for="usernameLogin" class="form-label">Username</label>
								<input type="text" class="form-control" id="usernameLogin" aria-describedby="usernameHelp">
							</div>
									
							<div class="mb-3">
								<label for="passwordLogin" class="form-label">Password</label>
								<input type="password" class="form-control" id="passwordLogin">
							</div>
									
							<button type="submit" class="btn btn-dark">Log In</button>
							<p>Not a member?<button type="button" class="btn btn-primary" id="modalClose" data-bs-target="#signup" data-bs-toggle="modal">Sign Up Now</button></p>
						</form>  
					</div>
				</div>     
			</div>  
		</div>
	</div>
}

@section Body{
	<div class="row">
		<div class="col-4">
			<h2>Sidebar</h2>
			<nav class="nav flex-column" id="sidebar">
				<a class="nav-link active" href="#">Active</a>
				<a class="nav-link" href="#">Link</a>
				<a class="nav-link" href="#">Link</a>
				<a class="nav-link disabled" href="#">Disabled</a>
			</nav>
		</div>
		<div class="col-8">
			<h2 class="text-center">Products</h2>
			<div class="row">
				@model ProductsListViewModel    //Last Stopping place <Kenniece Harris>: End Part 29
				@{var counter = 1;}
				@foreach (var p in Model.Products)
				{
					<div class="col-sm-4" id="item">
						<div class="row">
							<img src="@p.Image">
						</div>
						<h3>@p.Name</h3>
						@p.Description
						<h4>@p.Price.ToString("c")</h4>
					</div>								
					counter++;
				}
				<div page-model="@Model.PagingInfo" page-action="Index"></div>

			</div>
		</div>
	</div>

	<script src="~/js/index.js" asp-append-version="true" defer></script>
}

@section Footer{
		<p class="col-md-4 mb-0 text-muted">© 2022 Nizami, Inc</p>
		<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<img src="/logo/png/logo-no-background.png" alt="" width="80" height="70" class="d-inline-block align-text-top">
		</a>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
		</ul>
}
