@model Product
<div class="col-sm-4" id="item">
	<div class="row">
		<img src="@Model.Image">
	</div>
	<h3>@Model.Name</h3>
	@Model.Description
	<h4>@Model.Price.ToString("c")</h4>

	<form id="@Model.ProductID" asp-action="AddToCart"
		  asp-controller="Cart" method="post" class="float-right m-2 p-1">
		<input type="hidden" asp-for="ProductID" />
		<input type="hidden" name="returnUrl"
			   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
		<button type="submit" class="btn btn-info btn-sm float-right">
			Add To Cart
		</button>
	</form>
</div>
