@model Product
<!--This html code generates a list of cards with product info-->
<div class="col">
	<div class="card h-100" style="width: 18rem;" id="productCards">
		<img src="@Model.Image" class="card-img-top h-100" alt="">
		<div class="card-body">
			<h3>@Model.Name</h3>
			<p>@Model.Description</p>
			<p>@Model.Price.ToString("c")</p>
			<form id="@Model.ProductID" asp-action="AddToCart"
				asp-controller="Cart" method="post">
				<input type="hidden" asp-for="ProductID" />
				<input type="hidden" name="returnUrl"
						value="@ViewContext.HttpContext.Request.PathAndQuery()" />
				<button type="submit" class="btn btn-info btn-sm float-right">
					Add To Cart
				</button>
			</form>
		</div>
	</div>
</div>